# Dependencies
node_modules

# Build outputs
dist
out
*.tgz

# Turbo
.turbo

# Code coverage
coverage
*.lcov

# Logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.secrets

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# VS Code
.vscode

# Finder (MacOS) folder config
.DS_Store

# Bun
/.claude/settings.local.json
